<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ding.books.mapper.UserMapper">


    <select id="selectByCondition" parameterType="com.ding.books.model.entity.User" resultType="com.ding.books.model.entity.User">

        select * from user
        <where> 1=1
            <if test="username != null and username.length > 0">
                and username like concat('%',#{username},'%')
            </if>

        </where>
    </select>
    <select id="findByPhoneAndPwd" parameterType="com.ding.books.model.entity.User" resultType="com.ding.books.model.entity.User">
        select  * from user where username =#{username} and password = #{password}

    </select>
    <select id="findByUsername" parameterType="com.ding.books.model.entity.User" resultType="java.lang.Integer">
        select   IFNULL(count(*) ,0) from user where username =#{username}
    </select>
    <select id="queryAllByUsername" resultType="com.ding.books.model.entity.User">
        select  * from user where username =#{username}
    </select>
    <select id="findByOpenid" resultType="com.ding.books.model.entity.User">
        select * from user where openid = #{openid}
    </select>
</mapper>
